# Data Science Tools and Ecosystem

## Introduction
In this notebook, we summarize some of the popular languages, libraries, and tools used in data science.

## Data Science Languages
- Python
- R
- SQL

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- TensorFlow
- Scikit-learn

## Data Science Tools
| Tool          | Category       |
|---------------|----------------|
| JupyterLab    | IDE/Notebook   |
| RStudio       | IDE            |
| Apache Spark  | Big Data Tool  |

## Examples of Arithmetic Expressions
Below are some examples of basic arithmetic operations like addition and multiplication.

In [3]:
# Multiply and add numbers
(3*4) + 5

17

In [2]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Demonstrate arithmetic expressions in Python
- Convert minutes to hours
- Create a table of Data Science Tools

## Author
**Your Name**